@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: 'Book';
    src: url('BOOKOS.TTF')  format('truetype'); /* Safari, Android, iOS */
}

/*.bookman{*/
/*    font-family: 'Bookman Old Style', arial;*/
/*}*/

body {
    font-family: Arial;
    background-color: #FFFAFA;
}

.bookman {
    font-family: Book, serif;
}

.h-half {
    height: 70vh;
}

.h-half-height{
    height: 50%;
}

.text-shadow-white {
    /*text-shadow: 1px 1px rgba(255, 255, 255, 0.5);*/
    /*filter: blur(3px);*/
}

.text-green-700 {
    color: #239400;
}

.text-green-600 {
    color: #239400;
}

.text-green-500 {
    color: #239400;
}

.text-green-400 {
    color: #239400;
}

.bg-green-700 {
    background-color: #8e7254;
}

.bg-green-200 {
    background-color: #a79c97;
}

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*    width: 6px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*    background: #F0FFF4;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*    !*background-image: -webkit-gradient(linear,*!*/
/*    !*40% 0%,*!*/
/*    !*75% 84%,*!*/
/*    !*from(#3cae76),*!*/
/*    !*to(#4ee9a0));*!*/
/*    background: #48BB78;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #2F855A;*/
/*}*/